:root {
    /* Primary Colors */
    --primary-color-1: hsl(7, 99%, 70%);
    --primary-color-2: hsl(51, 100%, 49%);
    --primary-color-3: hsl(167, 40%, 24%);
    --primary-color-4: hsl(198, 62%, 26%);
    --primary-color-5: hsl(168, 34%, 41%);
    /* Neutral Colors */
    --neutral-color-1: hsl(212, 27%, 19%);
    --neutral-color-2: hsl(213, 9%, 39%);
    --neutral-color-3: hsl(232, 10%, 55%);
    --neutral-color-4: hsl(210, 4%, 67%);
    --neutral-color-5: hsl(0, 0%, 100%);

    --wrapper-padding: 20px 15px;
    --default-transition: 0.3s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: "Barlow", sans-serif;
}

p {
    line-height: 1.6;
}

nav {
    z-index: 5;
    position: relative;
    transition: 0.5s;
    transform: translateY(-171%);
}

nav.opened {
    transform: translateY(0);
}

nav ul {
    margin-top: 60px;
    background-color: var(--neutral-color-5);
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    font-weight: 600;
    padding-block: 37px;
    filter: drop-shadow(5px 5px 10px var(--neutral-color-2));
}

nav ul::before {
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent white white transparent;
    top: 1px;
    right: 0;
    transform: translateY(-100%);
}

nav ul a {
    color: var(--neutral-color-3);
    text-decoration: none;
    transition: var(--default-transition);
    position: relative;
    transition: 0.3s;
}

@media (max-width: 799px) {
    nav ul a:hover {
        color: black;
    }

    .contact:hover {
        background-color: hsla(51, 100%, 49%, 0.287);
        color: black;
    }
}



nav ul a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 3px;
    background-color: var(--neutral-color-5);
    transition: 0.3s;
}

nav ul a:nth-child(4)::before {
    all: revert;
}

nav ul a:nth-of-type(4) {
    padding: 12px;
    border-radius: 40px;
    background-color: var(--primary-color-2);
    font-family: "Fraunces", serif;
    padding-inline: 27px;
}

nav ul a:nth-of-type(4) {
    color: var(--neutral-color-1);
}

.hero {
    padding: var(--wrapper-padding);
    background-image: url(../images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    min-height: 146.2vw;
    background-position: center;
    padding-top: 40px;
    padding-inline: 30px;
}

@media (min-width: 800px) {
    .hero {
        background-image: url(../images/desktop/image-header.jpg);
        min-height: 95vh;
    }
}

.hero-container {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 57px;
}

.hero-container h1 {
    color: var(--neutral-color-5);
    font-family: "Fraunces", serif;
    font-weight: 900;
    text-align: center;
    letter-spacing: 8px;
    max-width: min-content;
    font-size: 10vw;
}

.hero-container .arrow {
    display: block;
    min-width: 10vw;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero a .logo {
    transform: scale(0.9);
    transform-origin: top left;
}

.ham {
    cursor: pointer;
    transform: scale(1);
    margin-bottom: 5px;
    transform-origin: top right;
}

/* ############################# */

.transform {
    background-color: var(--neutral-color-5);
}

.transform img {
    width: 100%;
}

.container {
    padding: 50px 25px;
}

.container h1 {
    color: var(--neutral-color-1);
    font-family: "Fraunces", serif;
    margin-bottom: 27px;
    text-align: center;
    font-weight: 900;
}

.container p {
    color: var(--neutral-color-4);
    text-align: center;
    font-weight: 600;
    margin-bottom: 27px;
}

.container a {
    color: var(--neutral-color-1);
    text-decoration: none;
    font-family: "Fraunces", serif;
    font-weight: 700;
    position: relative;
    z-index: 0;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
}

.container a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10%;
    background-color: var(--primary-color-2);
    width: 120%;
    height: 50%;
    z-index: -1;
    border-radius: 15px;
    opacity: 0.4;
    transition: var(--default-transition);
}

.container a:hover::before {
    opacity: 1;
}

/* ############################# */

.stand img {
    width: 100%;
}

.stand h1 {
    font-size: 2rem;
}

.stand a::before {
    background-color: var(--primary-color-1);
}

/* ############################# */

.graphic,
.photography {
    background-image: url(../images/mobile/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 160vw;
    padding: var(--wrapper-padding);
    position: relative;
    display: grid;
}

.graphic .container,
.photography .container {
    position: absolute;
    bottom: 0;
    padding: 25px;
}

.graphic .container p,
.graphic .container h1 {
    color: var(--primary-color-3);
}

.graphic h1 {
    font-family: 'Fraunces';
    text-align: center;
}

/* ############################# */

.photography {
    background-image: url(../images/mobile/image-photography.jpg);
}

.photography .container p,
.photography .container h1 {
    color: var(--primary-color-4);
}

/* ############################# */

.clients .clients-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.clients {
    padding: var(--wrapper-padding);
    padding-top: 65px;
}

.clients div {
    margin-bottom: 71px;
}

.clients h4 {
    color: var(--neutral-color-4);
    letter-spacing: 4px;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    text-align: center;
    margin-block: 37px 50px;
}

.clients img {
    border-radius: 50%;
    width: 80px;
    margin: 0 auto 30px;
    display: block;
}

.client p {
    width: calc(100% - 40px);
    display: block;
    margin: 0 auto 25px;
    text-align: center;
    color: var(--neutral-color-2);
    font-weight: 600;

}

.client h3 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.client h5 {
    text-align: center;
    margin-bottom: 10px;
    color: var(--neutral-color-4);
    font-weight: 600;
}

/* ############################# */

.img-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-wrapper picture {
    width: 50%;
    display: inline-flex;
}

.img-wrapper img {
    width: 100%;
}

/* ############################# */

footer {
    background-color: hsl(166.76deg 44.16% 69.8%);
    padding: 71px 50px;
}

footer a {
    width: fit-content;
    display: block;
    margin-inline: auto;
}

footer img {
    width: 182px;
    display: block;
    margin: 0 auto;
}

footer .nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 57px auto 92px;
    font-weight: 600;
    color: var(--primary-color-5);
    column-gap: 50px;
    max-width: 280px;
}

footer .nav a {
    text-decoration: none;
    color: var(--primary-color-5);
    transition: var(--default-transition);
}

footer .nav a:hover {
    color: white;
}

footer .socials {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    max-width: 245px;
    margin: 0 auto;
}

.socials li img {
    transition: var(--default-transition);
    filter: invert(34%) sepia(97%) saturate(271%) hue-rotate(118deg) brightness(91%) contrast(87%);
    width: 25px;
}

.socials li img:hover {
    filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(218deg) brightness(105%) contrast(103%);
}

/* ############################# */
     /* MEDIA    #2C7566 */
/* ############################# */

@media (max-width: 350px) {
    .container h1 {
        font-size: 33px;
    }
    .container p {
        font-size: 16px;
    }
}

@media (min-width: 350px) {
    .hero a .logo {
        transform: scale(1.1);
    }
    .ham {
        transform: scale(1.1);
    }
}

@media (min-width: 425px) {
    .graphic .container, .photography .container {
        bottom: 12%;
    }

    .hero a .logo {
        transform: scale(1.4);
    }
    .ham {
        transform: scale(1.4);
        margin-bottom: -5px;
    }
}

@media (min-width: 525px) {
    .container h1 {
        font-size: 47px;
    }
    .container p {
        font-size: 21px;
    }

    .hero a .logo {
        transform: scale(1.6);
    }
    .ham {
        transform: scale(1.6);
        margin-bottom: -7px;
    }
}

@media (min-width: 600px) {
    .client {
        width: 520px;
    }

    .container h1 {
        font-size: 53px;
    }
    .container p {
        font-size: 22px;
    }

    .hero a .logo {
        transform: scale(1.7);
    }
    .ham {
        transform: scale(1.7);
        margin-bottom: -7px;
    }
}

@media (min-width: 700px) {
    .hero a .logo {
        transform: scale(2);
    }
    .ham {
        transform: scale(1.8);
        margin-bottom: 0;
    }
}


/* SWITCHING TO PC (LANDSCAPE) VERSION */

@media (min-width: 800px) {
    .ham {
        display: none;
    }

    nav {
        all: revert;
        position: absolute;
        right: 0;
        top: 0;
    }

    nav ul {
        all: revert;
        list-style: none;
        display: flex;
        padding: 40px;
        padding-top: 30px;
        margin: 0;
        padding-right: 0;
        justify-content: center;
        column-gap: 21px;
        align-items: center;
        margin-right: 30px;
    }

    nav ul::before {
        display: none;
    }

    nav ul li {
        all: revert;
        font-weight: 600;
    }
    nav ul a:nth-of-type(4) {
        all: revert;
        padding: 23px;
        padding-inline: 27px;
        background-color: var(--neutral-color-5);
        border-radius: 40px;
        font-family: "Fraunces", serif;
        letter-spacing: 1px;
        color: var(--neutral-color-1);
        text-decoration: none;
        transition: 0.3s;
    }
    nav ul a:nth-of-type(4):hover {
        background-color: #6fcfff;
        color: var(--neutral-color-5);
    }
    nav ul a {
        color: var(--neutral-color-5);
    }
    nav ul a:hover::before {
        width: 100%;
    }

    .hero-container {
        top: 47%;
    }

    .hero-container h1 {
        font-size: 5.5vw;
        text-wrap: nowrap;
        letter-spacing: 10px;
        word-spacing: 1rem;
    }

    .hero-container .arrow {
        min-width: 8%;
    }

    .transform,
    .stand {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: -4px;
    }
    .transform .container {
        order: -1;
        padding: 7%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .stand .container {
        padding: 7%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .container h1 {
        font-size: 1.8rem;
        text-align: start;
    }
    .container p {
        font-size: 1rem;
        text-align: start;
    }
    .container a {
        left: 10px;
        transform: none;
    }

    .g-and-p-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .graphic,
    .photography {
        min-height: 42vw;
    }
    .graphic .container,
    .photography .container {
        bottom: 0;
        top: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 10px;
        width: 100%;
    }
    .graphic .container p,
    .photography .container p {
        text-align: center;
        margin: 0;
    }
    .graphic .container h1,
    .photography .container h1 {
        margin-bottom: 15px;
    }
    .graphic {
        background-image: url(../images/desktop/image-graphic-design.jpg);
    }
    .photography {
        background-image: url(../images/desktop/image-photography.jpg);
    }

    .clients {
        padding-block: 50px;
        padding-inline: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 71px;
        padding-block: 120px;
    }
    .clients h4 {
        margin: 0;
    }
    .clients div {
        margin-bottom: 0;
    }
    .clients .clients-wrapper {
        display: flex;
        justify-content: center;
        column-gap: 50px;
        align-items: center;
        margin-bottom: 0;
        flex-direction: row;
    }

    .img-wrapper picture {
        display: inline-flex;
        width: 25%;
    }
    .img-wrapper picture img {
        width: 100%;
    }
}

@media (min-width: 900px) {
    nav ul {
        column-gap: 3.7vw;
    }

    .hero-container .arrow {
        min-width: 52px;
    }

    .container h1 {
        font-size: 2rem;
    }

    .graphic .container h1, .photography .container h1 {
        margin-bottom: 25px;
    }

    .stand .container,
    .transform .container {
        padding: 12%;
    }

    .graphic .container,
    .photography .container {
        top: 51%;
    }
}

@media (min-width: 1000px) {
    .graphic .container,
    .photography .container {
        top: 55%;
        padding-inline: 5vw;
    }
}

@media (min-width: 1200px) {
    .hero-container h1 {
        font-size: 5vw;
        margin-bottom: 25px;
    }

    .container {
        padding: 12%;
    }
    .container h1 {
        font-size: 2.4rem;
    }
    .container p {
        font-size: 1.1rem;
    }

    .stand .container,
    .transform .container {
        padding: 18%;
    }

    .graphic .container,
    .photography .container {
        top: 57%;
    }
}

@media (min-width: 1440px) {
    nav ul {
        column-gap: 3vw;
    }

    .hero-container h1 {
        font-size: 440%;
    }

    .container h1 {
        font-size: 3rem;
    }
    .container p {
        font-size: 1.3rem;
    }

    .graphic .container,
    .photography .container {
        top: 62%;
        padding-inline: 100px;
    }
}